*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    /* background-color:rgb(214, 255, 153); */
    /* background-image: linear-gradient(to bottom right, #8E0E00,#1F1C18); */
    background-image: linear-gradient(to bottom right, #00bf8f,#001510);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
h1{
    color: white;
    font-size: 50px;
    font-family: Harrington;
    margin: 0 auto;
    margin-bottom:  35px;
    font-weight: 900;
}
#top{
    width: 90vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#top input{
    width: 90%;
    height: 45px;
    padding-left: 20px;
    border: none;
    border: 1px solid grey;
    border-radius: 8px;
    font-family: gilroy;
}
#top input:hover{
    background-color: rgb(237, 244, 255);
    cursor: pointer;
}
#top button{
    padding: 8px 22px;
    font-family: gilroy;
    font-weight: 700;
    border: 1.8px solid white;
    color: white;
    background-color: rgb(27, 204, 248);
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
}
#top button:hover{
    background-color: rgb(9, 187, 231);
    color: white;
    border: 1.5px solid rgb(22, 166, 202);
    box-shadow: 1px 1px 5px rgb(111, 111, 250) inset;
    font-size: 15px;
    padding: 10px 25px;
}
#images{
    width: 90vw;
    height: 50vh;
    margin-top: 50px;
    padding: 25px;
    background-color:rgba(199, 156, 156, 0.116);
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.747);
    border-radius: 20px;
}
#cards{
    width: 100%;
    height: 190px;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

}
.card{
    width: 250px;
    height: inherit;
    /* background-color: lightcoral; */
    margin-right: 20px;
    overflow: hidden;
    flex: 0 0 auto;
    border-radius: 5px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}
#cards::-webkit-scrollbar {
    display: none;
}
@media(max-width:400px){
    #main{
        padding: 30px;
    }
    h1{
        font-size: 35px;
    }
    #top button{
        padding: 5px 15px;
        margin-left: 10px;
        font-size: 15px;
    }
    #images{
        width: 260px;
        height: 950px;
        margin-top: 20px;
        flex-direction: column;
    }
    #cards{
        width: inherit;
        height: inherit;
        flex-direction: column;
    }
    .card{
        width:inherit;
        height: 400px;
        margin-bottom: 30px;
    }
}